# VS Code files for those working on multiple tools
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# build directories and files
src/deepgo/native/build/
src/deepgo/native/CMakeLists.txt
src/deepgo/native/cpp/Config.h
